{% extends 'explicacion.situacional.html' %}
{% load staticfiles %}
{% load i18n %}
{% block titulo %}_-=SAPIC-Caracterización Política=-_{% endblock titulo %}
{% block extracss %}
  <link rel="stylesheet" type="text/css" href="{% static "DataTables/media/css/jquery.dataTables.min.css" %}"> 
  <link rel="stylesheet" type="text/css" href="{% static "DataTables/media/css/jquery.dataTables.min.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "DataTables/extensions/Buttons/css/buttons.dataTables.min.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "DataTables/extensions/Select/css/select.dataTables.min.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "DataTables/extensions/Responsive/css/responsive.dataTables.min.css" %}">
{% endblock extracss %}
{% block extrajs %}
  <script type="text/javascript" language="javascript" src="{% static "DataTables/media/js/jquery.dataTables.min.js" %}"></script>
  <script type="text/javascript" language="javascript" src="{% static "DataTables/extensions/Buttons/js/dataTables.buttons.min.js" %}"></script>
  <script type="text/javascript" language="javascript" src="{% static "DataTables/extensions/Buttons/js/buttons.print.min.js" %}"></script>
  <script type="text/javascript" language="javascript" src="{% static "DataTables/extensions/Buttons/js/buttons.jqueryui.js" %}"></script>
  <script type="text/javascript" language="javascript" src="{% static "DataTables/extensions/Buttons/js/buttons.html5.min.js" %}"></script>
  <script src="{% static "js/funciones.js" %}"></script>
{% endblock extrajs %}
{% block contenido_principal %}
    <div class="col-xs-12">
        <div class="panel-sapic">
            <section class="content-header">
                  <h2>
                    Caracterización Política
                    <small>Muestra los sub-módulos de las características políticas y organizacionales de la comunidad</small>
                  </h2>
            </section>
            {% if consultas %}
              <select id="select_filter" style="color:#000"><option value="">Consulta</option></select>
              <table id="tabla-participacion" class="display ">
                  <thead>
                      <tr>
                          <th class="politica0">Pregunta</th>
                          <th class="politica1">Respuesta</th>
                          <th class="politica2">Consulta</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for respuesta in si_no %}
                        {% if respuesta.respuesta %}
                          <tr>
                              <td>{{ respuesta.pregunta }}</td>
                              <td onclick="return abrir_modal('{% url 'explicacion:modificar_respuesta_' respuesta.pregunta.tipo_pregunta.pk respuesta.pk %}')">Si</td>  
                              <td>{{ respuesta.pregunta.consulta.nombre_consulta | cut:"Información sobre la " | cut:"información sobre las " | cut:"Información sobre " | title}}</td>
                          </tr>
                        {% else %}
                          <tr>
                            <td> {{respuesta.pregunta}} </td>
                            {% for justificacion in abierta  %}
                              {% if justificacion.es_justificacion and justificacion.pregunta.pk == respuesta.pregunta.pk %}
                                <td onclick="return abrir_modal('{% url 'explicacion:modificar_respuesta_' respuesta.pregunta.tipo_pregunta.pk respuesta.pk %}')">No,{{justificacion.texto_respuesta}} </td>  
                              {% endif %}
                            {% endfor %}
                            <td>{{ respuesta.pregunta.consulta.nombre_consulta | cut:"Información sobre la " | cut:"información sobre las " | cut:"Información sobre " | title}}</td>
                          </tr>
                        {% endif %} 
                          
                      {% endfor %}

                      {% for respuesta in opciones %}
                      <tr>
                          <td>{{ respuesta.opcion.pregunta }}</td>
                          <td onclick="return abrir_modal('{% url 'explicacion:modificar_respuesta_' respuesta.opcion.pregunta.tipo_pregunta.pk respuesta.pk %}')">{{ respuesta.opcion }}</td>
                          <td>{{ respuesta.opcion.pregunta.consulta.nombre_consulta | cut:"Información sobre la " | cut:"información sobre las " | cut:"Información sobre " | title}}</td>  
                      </tr>
                      {% endfor %}
                      {% for respuesta in abierta %}
                      
                          {% if not respuesta.es_justificacion %}
                          <tr>
                            <td>{{ respuesta.pregunta }}</td>
                            <td onclick="return abrir_modal('{% url 'explicacion:modificar_respuesta_' respuesta.pregunta.tipo_pregunta.pk respuesta.pk %}')">{{ respuesta.texto_respuesta }}</td>
                            <td>{{ respuesta.pregunta.consulta.nombre_consulta | cut:"Información sobre la " | cut:"información sobre las " | cut:"Información sobre " | title}}</td> 
                          </tr>     
                          {% endif %}
                      
                      {% endfor %}
                      {% for respuesta in ubicacion %}
                      <tr>
                          <td>{{ respuesta.pregunta }}</td>
                          <td>{{ respuesta.coordenadas }}</td>
                          <td>{{ respuesta.pregunta.consulta.nombre_consulta }}</td>        
                      </tr>
                      {% endfor %}
                  </tbody>
                 
              </table>
            {% endif %}
            <div id="popup" class="modal fade" role="dialog"></div>
            {% if not 19 in consultas %}
              <section class="content">
                <div class="col-lg-12 col-xs-12">
                  <!-- small box -->
                  <div class="small-box bg-red">
                    <div class="inner">
                      <h3 title="produccion cc">Producción Política del Consejo Comunal</h3>

                      <p align="justify">En este sub-módulo podrá registrar, consultar y modificar información relacionada al Consejo Comunal.</p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-cloud"></i>
                    </div>
                    <a href="{% url 'explicacion:produccion_cc' 19 %}" class="small-box-footer">Ingresar<i class="fa fa-arrow-circle-right"></i></a>
                  </div>
                </div>
            </section>
            {% endif %}
            {% if not 20 in consultas %}
              <section class="content">
                <div class="col-lg-12 col-xs-12">
                  <!-- small box -->
                  <div class="small-box bg-red">
                    <div class="inner">
                      <h3 title="organizacion c">Organizaciones que Conforman la Comuna</h3>

                      <p align="justify">En este sub-módulo podrá registrar, consultar y modificar información sobre las organizaciones de la Comuna.</p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-cloud"></i>
                    </div>
                    <a href="{% url 'explicacion:organizacion_c' 20 %}" class="small-box-footer">Ingresar<i class="fa fa-arrow-circle-right"></i></a>
                  </div>
                </div>
            </section>
            {% endif %}
            {% if not 21 in consultas %}
              <section class="content">
                <div class="col-lg-12 col-xs-12">
                  <!-- small box -->
                  <div class="small-box bg-red">
                    <div class="inner">
                      <h3 title="produccion c">Producción Política de la Comuna</h3>

                      <p align="justify">En este sub-módulo podrá registrar, consultar y modificar información relacionada a la Comuna.</p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-cloud"></i>
                    </div>
                    <a href="{% url 'explicacion:produccion_c' 21 %}" class="small-box-footer">Ingresar<i class="fa fa-arrow-circle-right"></i></a>
                  </div>
                </div>
            </section>
            {% endif %}
            {% if not 22 in consultas %}
              <section class="content">
                <div class="col-lg-12 col-xs-12">
                  <!-- small box -->
                  <div class="small-box bg-red">
                    <div class="inner">
                      <h3 title="relacion entorno">Relaciones con el Entorno</h3>

                      <p align="justify">En este sub-módulo podrá registrar, consultar y modificar información sobre relaciones externas.</p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-cloud"></i>
                    </div>
                    <a href="{% url 'explicacion:relacion_entorno' 22 %}" class="small-box-footer">Ingresar<i class="fa fa-arrow-circle-right"></i></a>
                  </div>
                </div>
            </section>
            {% endif %}
            {% if not 23 in consultas %}
              <section class="content">
                <div class="col-lg-12 col-xs-12">
                  <!-- small box -->
                  <div class="small-box bg-red">
                    <div class="inner">
                      <h3 title="actor relacionado">Actores Relacionados con la Comunidad</h3>

                      <p align="justify">En este sub-módulo podrá registrar, consultar y modificar información sobre actores involucrados con la comunidad.</p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-cloud"></i>
                    </div>
                    <a href="{% url 'explicacion:actor_relacionado' 23 %}" class="small-box-footer">Ingresar<i class="fa fa-arrow-circle-right"></i></a>
                  </div>
                </div>
            </section>
            {% endif %}
            {% if not 24 in consultas %}
              <section class="content">
                <div class="col-lg-12 col-xs-12">
                  <!-- small box -->
                  <div class="small-box bg-red">
                    <div class="inner">
                      <h3 title="comunicacion politica">Modo de Comunicación Política</h3>

                      <p align="justify">En este sub-módulo podrá registrar, consultar y modificar datos de comunicación política.</p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-cloud"></i>
                    </div>
                    <a href="{% url 'explicacion:comunicacion_politica' 24 %}" class="small-box-footer">Ingresar<i class="fa fa-arrow-circle-right"></i></a>
                  </div>
                </div>
            </section>
            {% endif %}
        </div>
    </div>

{% endblock contenido_principal %}
